@import './components/fonts';
@import './components/colors';
@import './components/vars';
@import './components/media';

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 15px;
}

h1, h2, h3, h4, h4, h6, a, p, ul, input, textarea{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.contenedor{
    background-color: $fondo;
    #navegador{
        ion-icon{
            cursor: pointer;
        }
        width: 100%;
        height: $h-nav;
        position: fixed;
        z-index: 5;
        display: flex;
        align-items: center;
        padding: 0 $pad-20;
        text-transform: capitalize;
        transition: .5s ease-in-out;

        .logo{
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            color: white;
        }
        .grupo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: .5s ease-in-out;
            .navegacion{
                display: flex;
                li{
                    position: relative;
                    margin: 0 $pad-10;
                    a{
                        color: white;
                    }
                    a::before{
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: white;
                        transform: scaleX(0);
                        transition: transform .5s ease-in-out;
                        transform-origin: right;
                    }
                    a:hover::before{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }
            .cliente{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    li{
                        position: relative;
                        margin: 0 $pad-10;
                        a{
                            color: white;
                        }
                        a::before{
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            width: 100%;
                            height: 1px;
                            background-color: white;
                            transform: scaleX(0);
                            transition: transform .5s ease-in-out;
                            transform-origin: right;
                        }
                        a:hover::before{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
                .btn-buscar{
                    width: 18px;
                    height: 18px;
                    color: white;
                    padding: 0 $pad-10;
                }
            }
            .box-buscador{
                position: absolute;
                top: 0;
                right: $pad-20;

                opacity: 0;
                visibility: hidden;

                display: flex;
                align-items: center;

                transition: .5s ease-in-out;

                input{
                    background-color: rgba(255, 255, 255, 0.062);
                    font-size: .9rem;
                    color: white;
                    padding: 5px $pad-10;
                    font-style: italic;
                    border-bottom: .5px solid white;
                }
                input:focus{
                    outline: none;
                }
                .btn-enviar{
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    right: $pad-10;
                    top: 50%;
                    transform: translateY(-50%);
                    color: white;
                }
            }
            .box-buscador.show{
                opacity: 1;
                visibility: visible;
                width: 100%;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                input{
                    width: 100%;
                    background-color: transparent;
                }
                .btn-enviar{
                    bottom: 0;
                    opacity: 1;
                }
            }
            .active{
                visibility: visible;
                opacity: 1;
                top: $h-nav;
            }
        }
        .grupo.show{
            transform: translateX(0);
            flex-direction: column;
            align-items: start;
            
            .navegacion{
                flex-direction: column;
                align-items: start;
                li{
                    padding: $pad-10 0;
                }
            }
            .cliente{
                ul{
                    width: 100%;
                    li{
                        padding: $pad-10 0;
                    }
                }
                .btn-buscar{
                    opacity: 0;
                }
            }
        }
        .btn-menu{
            position: absolute;
            left: 0;
            top: $pad-10;
            opacity: 0;
            width: 25px;
            height: 25px;
            color: white;
            transition: .5s ease-in-out;
        }
        .btn-close-nav{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            color: white;
        }

    }
    #navegador.show{
        padding-top: $pad-20*4;
        background-color: black;
        height: 100vh;
        width: 100%;
        min-width: 350px;
        max-width: 400px;
        flex-direction: column;
        .logo{
            top: $pad-10;
        }
        .btn-close-nav{
            opacity: 1;
            visibility: visible;
            top: $pad-20;
            right: $pad-20 + $pad-10;
            width: 20px;
            height: 20px;
        }
    }
    #inicio{
        height: 100vh;
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }
        .inicio-promo{
            position: absolute;
            right: 10%;
            bottom: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            p{
                color: $blanco;
            }
        }
    }
    #categorias{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 350px;

        .categoria-botones{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .categoria{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: $pad-20;
                img{
                    width: 50px;
                }
                p{
                    font-size: 13px;
                    margin-top: $pad-15;
                }
            }
        }
    }
    #destacados{
        padding: $pad-10 $pad-20;

        .destacados-top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                color: $negro;
                font-weight: 300;
                font-size: 20px;
                font-family: 'Sofia Sans Condensed';
            }
            .slider-bar{
                display: flex;
                align-items: center;
                justify-content: space-around;
                a{
                    color: $negro;
                    padding: 5px;
                    font-weight: 300;
                    font-size: 20px;
                    font-family: 'Sofia Sans Condensed';
                }
                ion-icon{
                    color: $gris;
                    cursor: pointer;
                }
            }
        }
        .wrapper-slider{
            padding: 0 $pad-15;
            width: 100%;
            display: flex;
            grid-gap: 15px;
            overflow-x: auto; //El scroll permanece con el contenedor, no en el body
            /* scroll-snap-type: x; */
            scroll-behavior: smooth;
            overflow-x: hidden;

            .producto{
                background-color: rgb(155, 153, 149);
                min-width: calc(400px - 7.5px);
                height: 600px;/* 
                scroll-snap-align: center; */
            }
        }
    }
    #nosotros{
        display: flex;
        flex-direction: column;
        .nosotros-promo{
            position: relative;
            min-height: 500px;
            height: 50vh;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            div{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                left: 50%;
                top: 30%;
                transform: translateX(-50%);
                p{
                    color: rgb(255, 255, 255);
                    font-weight: 300;
                    font-size: 20px;
                }
            }
        }
        .wrapper-vendedores{
            margin: $pad-20 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-gap: $pad-15;
            .vendedor{
                border: solid 1px $gris;
                padding: $pad-20;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                img{
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    filter: brightness(0.9);
                }
                
                color: $gris;
                p{
                    text-align: center;
                    font-style: italic;
                    font-size: 12px;
                    padding: $pad-15 0;
                }
                .nombre{
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
    }
    #outro{
        background-color: $crema;
        padding: $pad-20;
    }
    #pie{
        width: 100%;
        background-color: rgb(173, 165, 156);
        padding: $pad-10 0;
        color: black;
        .wrapper-pie{

            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: $pad-10;
            .contacto{
                width: 50%;
                max-width: 400px;
                h4{
                    font-weight: 500;
                    padding-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    padding: $pad-10 0;
                }
                input{
                    padding-left: $pad-10;
                    padding-bottom: 3px;
                    width: 100%;
                    background-color: transparent;
                    border-bottom: solid 0.8px rgb(80, 80, 80);
                    font-style: italic;
                    font-weight: 300;
                }
                input:focus{
                    outline-width: 0;
                    background-color: transparent;
                    border-bottom: solid 1px black;
                }
                #btn-enviar{
                    position: absolute;
                    transform: translate(-20px, 5px);
                    cursor: pointer;
                }
            }
            .enlaces{
                display: flex;
                ul{
                    font-size: 12px;
                    text-transform: uppercase;
                    li{
                        padding: $pad-10/2 $pad-10;
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
        .credits{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            ul{
                display: flex;
                li{
                    padding: 0 $pad-10;
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: underline;
                        display: flex; align-items: center;
                        color: black;
                        ion-icon{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(148, 141, 141);
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background: $crema;
}
/* .wrapper{
    background-color: $crema;
    width: 100vw;

    
    #inicio{
        height: 100vh;
        width: 100%;
        position: relative;
        img{
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
        }
        .incPromo{
            position: absolute;
            right: 10%;
            bottom: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            p{
                color: $blanco;
            }
        }
    }
    #categorias{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 300px;

        .catBtn{
            width: 60%;
            display: flex;
            justify-content: space-around;
            .ctg{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: $pad-20;
                img{
                    width: 50px;

                }
                p{
                    font-size: 13px;
                    padding-top: $pad-20;
                }
            }
        }
    }
    #destacados{
        background-color: rgb(194, 194, 189);
        height: 70vh;
        min-height: 400px;
        .destacados-top{
            background-color: aliceblue;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    #nosotros{
        display: flex;
        flex-direction: column;
        .promo{
            position: relative;
            width: 100vw;
            min-height: 500px;
            height: 50vh;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            div{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                left: 50%;
                top: 30%;
                transform: translateX(-50%);
                p{
                    color: rgb(255, 255, 255);
                    font-weight: 300;
                    font-size: 20px;
                    padding: $pad-20;
                }
            }
        }
    }
} */
