@import './components/fonts';
@import './components/colors';
@import './components/vars';

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 15px;
}

h1, h2, h3, h4, h4, h6, a, p, ul, input, textarea{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.contenedor{
    background-color: $fondo;
    @import 'styles/nav-bar';
    #inicio{
        height: 100vh;
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }
        .inicio-promo{
            position: absolute; right: 10%; bottom: 50%; transform: translateY(-50%);
            display: flex; flex-direction: column;  justify-content: center; align-items: flex-end;
            p{
                color: $blanco;
            }
        }
    }
    #categorias{
        display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
        text-align: center;
        grid-gap: 2rem;
        padding: 3rem 1rem;
        /* height: 350px; */
        .categoria-botones{
            display: flex; justify-content: center; flex-wrap: wrap; grid-gap: 3rem;
            .categoria{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 50px;
                }
                p{
                    font-size: .9rem;
                    margin-top: $pad-15;
                }
            }
        }
    }
    #destacados{
        padding: $pad-10 $pad-20;
        .destacados-top{
            width: 100%;
            display: flex; justify-content: space-between; align-items: center;
            p{
                color: $negro;
                font-weight: 300;
                font-size: 1.3rem;
                font-family: $fnt-destacada;
            } 
            .slider-bar{
                display: flex;
                align-items: center;
                justify-content: space-around;
                a{
                    color: $negro;
                    margin-right: .4rem;
                    font-weight: 300;
                    font-size: 1.3rem;
                    font-family: $fnt-destacada;
                }
                ion-icon{
                    color: $gris;
                    cursor: pointer;
                    margin: 0 .2rem;
                }
            }
        }
        .wrapper-slider{
            width: 100%;
            display: flex;
            grid-gap: 1rem;
            overflow-x: auto; //El scroll permanece con el contenedor, no en el body
            scroll-snap-type: x;
            scroll-behavior: smooth;
            overflow-x: hidden;
            .producto{
                background-color: rgb(155, 153, 149);
                min-width: calc(400px - 0.5rem);
                height: 600px;/* 
                scroll-snap-align: center; */
            }
        }
    }
    #nosotros{
        display: flex;
        flex-direction: column;
        .nosotros-promo{
            position: relative;
            min-height: 500px;
            height: 50vh;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            div{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                left: 50%;
                top: 30%;
                transform: translateX(-50%);
                p{
                    color: rgb(255, 255, 255);
                    font-weight: 300;
                    font-size: 20px;
                }
            }
        }
        .wrapper-vendedores{
            margin: $pad-20 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-gap: $pad-15;
            .vendedor{
                border: solid 1px $gris;
                padding: $pad-20;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                img{
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    filter: brightness(0.9);
                }
                
                color: $gris;
                p{
                    text-align: center;
                    font-style: italic;
                    font-size: 12px;
                    padding: $pad-15 0;
                }
                .nombre{
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
    }
    #outro{
        background-color: $crema;
        padding: $pad-20;
    }
    #pie{
        width: 100%;
        background-color: rgb(173, 165, 156);
        padding: $pad-10 0;
        color: black;
        .wrapper-pie{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $pad-10;
            .contacto{
                width: 100%;
                max-width: 400px;
                h4{
                    font-weight: 500;
                    padding-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    padding: $pad-10 0;
                }
                input{
                    padding-left: $pad-10;
                    padding-bottom: 3px;
                    width: 100%;
                    background-color: transparent;
                    border-bottom: solid 0.8px rgb(80, 80, 80);
                    font-style: italic;
                    font-weight: 300;
                }
                input:focus{
                    outline-width: 0;
                    background-color: transparent;
                    border-bottom: solid 1px black;
                }
                #btn-enviar{
                    position: absolute;
                    transform: translate(-20px, 5px);
                    cursor: pointer;
                }
            }
            .enlaces{
                display: flex;
                justify-content: space-evenly;
                ul{
                    font-size: 12px;
                    text-transform: uppercase;
                    li{
                        padding: $pad-10/2 $pad-10;
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
        .credits{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            ul{
                display: flex;
                li{
                    padding: 0 $pad-10;
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: underline;
                        display: flex; align-items: center;
                        color: black;
                        ion-icon{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(148, 141, 141);
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background: $crema;
}
@import './components/media';