$negro: #27242a;
$beige: #213f31;
$verde: #84b09b;
$crema: #dbd8d2;
$blanco: rgb(231, 231, 231);
$fondo: #e7e6e3;
$gris: rgb(104, 104, 104);

$clr-claro: rgb(231, 231, 231);
$clr-oscuro: #27242a;
$clr-uno: #3f2821;
$clr-dos: #b08e84;